$color__white: #ffffff;
$color__black: #202020;
$color__green: #2e8b57;
$color__salmon: #ffa07a;

$color__background-body: #fff;
$color__background-reverse: #202020;
$color__background-sidebar: #404040;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #ffffff;
$color__background-button-hover: #ffa07a;
$color__background-input: inherit;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-body: #202020;
$color__text-body-reverse: #ffffff;
$color__text-screen: #21759b;
$color__text-input: #d6d6d6;
$color__text-input-focus: #ffffff;
$color__text-input-placeholder: #7b7b7b;
$color__link: #202020;
$color__link-visited: #202020;
$color__link-reverse: #ffffff;
$color__link-visited-reverse: #ffffff;
$color__link-hover: #ffa07a;
$color__text-button: #ffa07a;
$color__text-button-hover: #ffffff;
$color__text-main: #404040;

$color__border-button: #ffffff;
$color__border-button-hover: #ffa07a;
$color__border-button-focus: #ffa07a;
$color__border-input: #ffffff;
$color__border-input-focus: #ffa07a;
$color__border-abbr: #666;
