.site__menu__header {
	position: relative;
	display: flex;
	align-items: center;
	gap: 10px;
	z-index: 1;
	color: inherit;
	background-color: inherit;
}

.chkBurger {
	display: none;

	&:checked ~ .burger {
		transform: rotate(90deg);
	}
}

.burger {
	transform: rotate(0);
	transition: transform 500ms;
	font-size: 1rem;
	width: 1rem;
	height: 1rem;

	@media screen and ( min-width: 700px ) {
		display: none;
	}
}

.menu__aside {
	display: flex;
	position: absolute;
	width: inherit;
	height: 0%;
	overflow: hidden;
	transform: translateY(-80px);
	transition: transform 500ms, opacity 500ms;
	color: inherit;
	background-color: inherit;
	opacity: 0;

	.site__menu__header:has( > .chkBurger:checked ) ~ & {
		position: relative;
		height: 100%;
		transform: translateY(0px);
		opacity: 1;
	}

	@media screen and ( min-width: 700px ) {
		position: static;
		height: 100%;
		overflow: visible;
		opacity: 1;
		width: 100%;
		padding: 0;
		transform: translate(0);
		transition: none;
	}
}

.menu__aside .menu {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 0;
	list-style-type: none;
}
