.menu__evenement .menu {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin: 0;
	list-style-type: none;
}

.menu__evenement .menu-item {
	flex: 0 1 200px;
	display: flex;

	& a {
		flex: 1;
		font-weight: 600;
		padding: 20px;
		border: 1px solid $color__green;
		transition: ease-in-out 100ms;
	}

	& a:hover,
	& a:focus,
	& a:active {
		color: $color__salmon;
		border-color: $color__salmon;
		border-bottom: 3px solid $color__salmon;
		padding-bottom: 18px;
	}
}
