.menu__icones-reseaux {
	margin: 0;
}

.menu__icones-reseaux .wp-social-link.icone-reseaux a {
	color: $color__green;
	background-color: $color__white;
	border-radius: 100%;
	transition: 200ms ease;

	&:hover {
		color: $color__salmon;
	}
}

#sidebar-header-icones-reseaux {
	margin: 0 auto;

	@media screen and ( min-width: 700px ) {
		margin: 0 0 0 auto;
	}

	& .wp-social-link.icone-reseaux a {
		width: 30px;
		height: 30px;
	}
}
