.menu__icones-reseaux .wp-social-link.icone-reseaux {
	color: inherit;
	background-color: #2e8b57;
	transition: 200ms ease;

	&:hover {
		background-color: #ffa07a;
		border-radius: 0px;
		transform: unset;
	}
}
