.menu__principal {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	padding: 20px 40px;
	height: 70px;
	background-color: $color__background-body-reverse;
	z-index: 1;
}

.menu__principal .menu {
	flex: 1;
	display: flex;
	gap: 40px;
	margin: 0;
	list-style-type: none;
}

.menu__principal .menu a {
	font-size: 1.125em;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: $color__white;
	border-left: 1px solid $color__green;
	padding-left: 10px;
	padding-right: 2px;

	&:visited {
		color: $color__white;
	}

	&:hover,
	&:active,
	&:focus {
		border-left: 3px solid $color__salmon;
		padding-right: 0px;
	}
}
