
.nav__principale {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
}

.nav__principale .nav {
    display: flex;
    gap: 40px;
}

.nav__principale .nav>* {
    list-style-type: none;
}
