body {
	color: $color__text-body;
	background: $color__background-body; // Fallback for when there is no custom background color defined.
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	line-height: 1.5625;
}
