.article__cours {
	display: flex;
}

.liste__article__search {
	display: flex;
	align-items: center;
	gap: 20px;

	& .search__figure {
		width: 150px;
		height: 150px;
		overflow: hidden;

		& img {
			object-fit: contain;
			height: inherit;
		}
	}

	& .search__texte {
		max-width: 600px;
	}
}
