.site__footer {
	padding: 40px;
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	background-color: #202020;
}

.site__footer .footer__brand {
	min-width: max-content;
}

.site__footer > div {
	width: 25%;
}

.site__footer .footer__adresse {
	& figure img {
		object-fit: cover;
		height: 100%;
	}
}

.site__footer .footer__recherche {
	& label {
		opacity: 0;
		height: 0px;
	}

	& input::placeholder {
		color: $color__text-input-placeholder;
	}

	& button {
		font-size: 3em;
		padding: 0px;
	}
}
