.site__utilitaires {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding: 0px 20px;
	color: $color__text-body-reverse;
	background-color: $color__background-body-reverse;

	@media screen and ( min-width: 700px ) {
		flex-direction: row;
		padding: 0px 40px;
	}
}

.site__utilitaires > div {
	display: flex;
	flex-direction: column;
	width: 100%;

	@media screen and ( min-width: 700px ) {
		width: auto;
	}
}

.site__utilitaires .site__branding {
	width: 100%;
	font-weight: 300;
	text-align: center;

	@media screen and ( min-width: 700px ) {
		width: auto;
		text-align: left;
	}
}

.site__title a {
	color: $color__salmon;
	font-size: 4em;
	line-height: 1.5;
	border-bottom: 1px solid $color__salmon;
	margin-bottom: 10px;

	&:visited {
		color: $color__salmon;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__white;
		border-bottom: 1px solid $color__green;
	}
}
