.sidebar__recherche {
	position: relative;

	& label {
		position: absolute;
		opacity: 0;
		height: 0px;
		width: 0px;
		overflow: hidden;
	}

	& input::placeholder {
		color: $color__text-input-placeholder;
	}

	& button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		font-size: 1.9375em;
		color: $color__salmon;
		overflow: hidden;
		padding: 0;
		cursor: pointer;

		&:hover,
		&:focus,
		&:active {
			color: $color__white;
		}
	}
}
